@import "tailwindcss";

:root {
  --green-clr: #1c4d2b;
  --text-clr: black;
  --bg-clr: white;
  --gray-clr: #f4f4f4;
  --gray-clr2: #d3d3d3;
  --gray-clr3: #696969;
}

.dark-mode {
  --green-clr: #1c4d2b;
  --text-clr: white;
  --bg-clr: #0e0e0e;
  --gray-clr: #171717;
  --gray-clr2: #8b8b8b;
  --gray-clr3: #8b8b8b;
}

@theme {
  --color-main-clr: var(--green-clr);
  --color-text-clr: var(--text-clr);
  --color-bg-clr: var(--bg-clr);
  --color-gray-clr: var(--gray-clr);
  --color-gray-clr2: var(--gray-clr2);
  --color-gray-clr3: var(--gray-clr3);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer components {
  .sectionPadding {
    @apply py-4 lg:py-8;
  }

  .nav-link {
    @apply text-xl font-medium duration-300 ease-in-out border-b border-gray-200 pb-2 lg:pb-0 lg:border-b-0;

    &.active,
    &:hover {
      @apply text-main-clr;
    }
  }

  .mainBtn {
    @apply bg-main-clr text-white text-lg text-center font-semibold px-6 py-2 border border-main-clr transition cursor-pointer;

    &.active,
    &:hover {
      @apply bg-white text-main-clr;
    }
  }
}

body {
  font-family: "Tajawal", serif;
  background-color: var(--bg-clr);
  color: var(--text-clr);
}
